certifi==2023.11.17
charset-normalizer==3.3.2
cssselect==1.2.0
humanfriendly==10.0
idna==3.4
jmespath==1.0.1
lxml==4.9.3
numpy==1.26.2
packaging==23.2
parsel==1.8.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.3
urllib3==2.1.0
uule-grabber==0.1.9
w3lib==2.1.2
